* {
    margin: 0;

}

header {
    display: flex;
    background-color: rgb(50, 167, 145);
    justify-content: space-between;
}

main,
#evaluation-form {
    display: flex;
}

#evaluation-form {
    width: 675px;
    flex-direction: column;
}

.trybewarts-header-logo {
    display: flex;
    align-items: center;
    align-self: center;
    height: 30px;
}

#trybewarts-header-title {
    display: flex;
    align-items: center;
    align-self: center;
    color: white;
}

.trybewarts-login {
    display: flex;
    gap: 10px;
    height: 30px;
    align-items: center;
    align-self: center;
}

#trybewarts-forms-logo {
    height: 500px;
}